:root{
    --p : rgb(145, 71, 255);
    --p-h : rgb(119, 56, 232);
    --nav : rgb(24, 24, 27);
}

body {
    font-family: "IBM Plex", monospace;
    /* font-family: sans-serif; */
    background : #f1f1f1;
    /* opacity : 0.6; */
}


.cont {
    width: 100%;
    display: grid;
    place-items: center;

}

h2 {
    margin-top : 25px;
    color : var(--p);
    letter-spacing: normal;
    text-transform: capitalize;
}

h2::selection {
    background: inherit;
    color : inherit;
}

input {
    width : 300px;
    border-radius: 1%;
    border : 2px solid var(--p);
    outline : none;
    padding: 7px;
    margin-bottom : 5px;
    /* bottom: 0; */
    /* margin-top : 500px; */
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

button {
    padding: 7px;
    border-radius: 7%;
    border : 2px solid var(--p);
    margin-bottom : 5px;
    outline : none;
    background-color: var(--p);
    color: #FFFFFF;
}

button:hover {
    background-color: var(--p-h);
}

button:focus {
    outline : none;
}

.hello {
  border: 2px solid var(--p-h);
  background-color: #f8efef;
  border-radius: 5px;
  padding: 10px;
  width : 100%;
  margin: 10px 0;
  margin-top : 15px;
  box-shadow: 2px 2px 2px 2px rgba(10, 0, 0, 0.3);
}


.hello::after {
    content: "";
    clear: both;
    display: table;
  }

  .time-right {
    float: right;
    color: #aaa;
  }


  p {
      color: var(--p);
  }

  .output {
    width: 50%;
  }
